COPYING
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
configure
depcomp
install-sh
missing
test-driver
src/*.o
Makefile
MoneyApp
MoneyApp.log
MoneyApp.trs
config.status
src/.deps/
src/.dirstamp
test-suite.log

